{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block admin_form %}

  {{ super() }}

  {{ form.select('ckanext.facetcollapse.default', id='facetcollapse_default', label=_('Facet default'), options=[
    {'text': 'Collapse all', 'value': 'expand-none'},
    {'text': 'Collapse all but first', 'value': 'expand-first'},
    {'text': 'Collapse empty', 'value': 'expand-navs'},
    {'text': 'Collapse none', 'value': 'expand-all'}], selected=data['ckanext.facetcollapse.default'
  ], error=error) }}

{% endblock %}


{% block admin_form_help %}

  {{ super() }}

  <p><strong>Facet default:</strong> Determines whether the facets/filters on the dataset search page are expanded or collapsed when the page loads.</p>

{% endblock %}
