{% ckan_extends %}

{% block secondary_content %}
<div class="filters" data-collapse-default="{{ h.facetcollapse_default() }}">
  <div>
    
    {% if h.ckan_version().split('.')[1] | int >= 9 %}

      {% for facet in facet_titles %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets) }}
      {% endfor %}

    {% else %}

      {% for facet in c.facet_titles %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
      {% endfor %}

    {% endif %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>

  {% if h.ckan_version().split('.')[1] | int >= 9 %}
    {% include 'facetcollapse/snippets/facetcollapse_asset.html' %}
  {% else %}
    {% include 'facetcollapse/snippets/facetcollapse_resource.html' %}
  {% endif %}

{% endblock %}
